<section class="container">
  <div class="columns">
    <div class="column is-3">
      <a class="button is-primary is-block is-alt is-large boxShadow" href="/newPost">New Post</a>
      <aside class="menu">
        <p class="menu-label">
          Tags
        </p>
        <ul class="menu-list">
          <li><span class="tag is-primary is-medium ">Dashboard</span></li>
          <li><span class="tag is-link is-medium ">Customers</span></li>
          <li><span class="tag is-light is-danger is-medium ">Authentication</span></li>
          <li><span class="tag is-dark is-medium ">Payments</span></li>
          <li><span class="tag is-success is-medium ">Transfers</span></li>
          <li><span class="tag is-warning is-medium ">Balance</span></li>
          <li><span class="tag is-medium ">Question</span></li>
        </ul>
      </aside>
    </div>
    <div class="container">
      <div class="columns">
        <div class="column is-12">
          <section class="hero is-info welcome is-small ">
            <div class="hero-body">
              <div class="container">
                <h1 class="title">
                  {{!-- {{#each posts as |post|}} --}}
                  Hello! {{username}}
                  {{!-- {{/each}} --}}
                </h1>
                <h2 class="subtitle">
                  Welcome to your dashboard. Below you will see your posts.
                </h2>
              </div>
            </div>
          </section>
          {{#each posts as |post|}}
          <div class="column noPadding is-9">
            <div class="box content">
              <article class="post">
                <h4>{{post.title}}</h4>
                <div class="media btnSpacing">
                  <div class="media-left">
                    <p class="image is-32x32">
                      <img src="http://bulma.io/images/placeholders/128x128.png">
                    </p>
                  </div>
                  <div class="media-content">
                    <div class="content">
                      <p>
                        <a href="#">{{user.username}}</a> {{format_date post.date_created}} &nbsp;
                        <span class="tag">Question</span>
                      </p>
                      <h7>{{post.content}}
                      </h7>
                    </div>
                  </div>
                  <div class="media-right">
                    <span class="has-text-grey-light"><i class="fa fa-comments"></i> 1</span>
                  </div>
                </div>
                <div class="form-group profileBtnMargin">
                  <span class="button is-link modal-button editPostBtn" data-id="{{post.id}}"
                    data-target="modal-card">Edit Post</span>
                  {{!-- <button class="button is-primary is-block is-alt is-large editPostBtn" id="colorRed"
                    data-id="{{post.id}}">Edit Post</button> --}}
                  <span class="button is-danger modal-button deletePostBtn" data-target="modal-card"
                    data-id="{{post.id}}">Delete Post</span>
                  {{!-- <button class="btn btn-danger deletePostBtn" data-id={{post.id}}>Delete Post</button> --}}
                </div>
              </article>
            </div>
            {{/each}}
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
<script src="/js/profile.js"></script>